<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <style>
      @import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
      @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");
      @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  .container{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("/images/unknown.png");
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
  }
  .navbar{
    background:linear-gradient(to right top,#145AD9,#5081DA);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 60px black;
    overflow: hidden;
  }
  .logo{
    height: 60px;
    width: 160px;
    cursor: pointer;
    margin-left: 6rem;
  }
  .navbar img{
    height: 60px;
    width: 60px;
  }
  .logo-text{
    margin-left: 30px;
  }
  .logo-text img{
    height: 30px;
    width: 80px;
   
   

  }
  .inputtext{
    outline: none;
    background: white;
    border-radius: 2rem;
    padding: 5px;
  }
  #search{
    display: none;
  }
  
  nav{
    flex: 1;
    text-align: right;
    margin-right: 10rem;
    
  }
  nav ul li{
    list-style: none;
    display: inline-block;
  }
  nav ul li a{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
  
    border-right: 1.5px solid black;
    padding: 20px 40px;
    text-decoration: none;
    
  }
 
  nav ul li a img{
    width: 40px;
    
    
  }
  nav ul li a i{
    
    color: white;
    font-size: 40px;
    text-decoration: none;
  }
  nav ul li a p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color:white;
    text-decoration: none;
    font-size: 10px;
  }
  
  nav ul li a::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: 0.2s;
   
    z-index: 5;
  }
  nav ul li a:hover::before{
    opacity: 0.2;
    background:#0A97F0;
    width: 100%;
    height: 100%;
  }

  .topbar {
    display: flex;
    background: #4A40FF;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 4%;
    box-shadow:  2px 2px 5px black;
  }
  .topbar a{
    text-decoration: none;
    color: white;
    
  }
  .create{
    position: absolute;
    top: 65px;
    right: 100px;
  }
  .data{
    position: absolute;
    top: 77px;
    right: 20px;
  }
  .listtitle a{
    font-weight: 900;
    color: red;
    text-decoration: none;
  }
  .row{
    background:linear-gradient(to right bottom,#91EAE4,#86A8E7,#7F7FD5);
    display: flex;
    height: 250%;
    text-align: center;
    flex-direction: column;
    box-shadow: 2px 2px 10px black;
   
  }
  .first-page{
    width:1902px;
    height:1000px;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("/images/zelda.png") ;
    
    background-repeat: no-repeat;
    
  }
  .page-text{
    color: white;
    margin-top: 200px;
    font-size: 40px;
  }

  .page-button  a input{
    cursor: pointer;
    border-radius: 180px;
    margin-top: 50px;
    padding: 20px 80px;
    background: linear-gradient(to  bottom,#FFFDE4 0%,30%,#0D8FFB 60%);
  }
  .page-button  a input:hover{
    
    background: #0D8FFB ;
  }
  .vertical-imgs{
    display: flex;
    margin-top: 50px;
   
    width: 1500px;
    height: 700px;
    margin-left: 300px;
  }
  .vertical-img{
  
    width: 300px;
    height: 430px;
    margin-right: 70px;
  }
  .vertical-img a{
    position: relative;
    top: 0%;
    left: 0%;
    width: 300px;
    height: 430px;
    text-decoration: none;
  }
  .vertical-img a img{
  
    border-radius: 2%;
    width: 300px;
    height: 430px;
    
  }
  .vertical-img text{
    position: absolute;
    
    top: -100px;
    left: 0%;
    color: white;
    height: 120px;
    font-size: 20px;
  }
  #vertical-img1{
    border-radius: 2%;
    background: rgba(74.1, 12.5, 0,0.8) ;
  }
  #vertical-img2{
    border-radius: 2%;
    background:rgba(48,242,101,0.3) ;
  }
  #vertical-img3{
    border-radius: 2%;
    background:rgba(83,46,28,0.8) ;
  }
  #vertical-img4{
    border-radius: 2%;
    background:rgba(219,63,51,0.3) ;
  }
  
  .side-imgs{
    position: absolute;
    top: 1310px;
    right: 242px;
    margin-left: 1300px;
   
    height: 250px;
    width: 250px;
  }
  .side-img{
    margin-bottom: 30px;
    border-radius: 2%;
    position: relative;
    top: 10px;
    left: 20px;
    height: 350px;
    background:#145AD9;
    width: 280px;
    overflow: hidden;
  }
 
  .side-img img{
    position: relative;
    border: 0.5px gray solid ;
    border-radius: 2%;
    width: 280px;
    height: 350px;
  }
  .img-border{
    position: absolute;
  
    width: 50%;
    height: 350px;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(45deg) translateX(500px);
    transition: 0.4s;
    z-index: 2;
   
  }
  .side-img:hover .img-border{
    transform: skewX(45deg) translateX(-500px);
  }
  .rowlists{
   
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-left: 300px;
    height: 160px ;  
    width: 1000px;
  }
  .rowlist{
    margin-top: 50px;
    display: inline-block;
  }
  .rowlist:hover{ 
    opacity: 0.7;
    cursor: pointer;
  }
  .rowlist text {
   
    color: black;
    text-decoration: none;
    font-size: 15px;
    background: linear-gradient(to top, #9782F5 0%,#82E7F5 100%);
    margin-right: 1px;
    border: 0.5px gray solid;
    border-bottom: none;
    padding: 6px 20px 10px 20px ;
  }
  .rowcontent{
    
    display: flex;
    margin-top: 0rem;
    height: 90%;
    width: 1000px;
    margin-left: 300px;
    background-color: none;
    flex-direction: column;
    text-align: center;
  }
  .first-rows{
      display: flex;
      align-items: center;
      text-align: center;
      height: 270px;
      width: 1000px;
      background: #F2F7FE;
      justify-content: space-evenly;
      border: gray 0.5px solid;   
      overflow: hidden; 
  }
  .first-row{
   
    display: inline-block;
    
    height: 260px;
    width: 200px;  
  
    
  }
  .first-row img{
     
      margin-top: 20px;
      width: 200px;
      height: 160px;
  }
  .first-row a{
    text-decoration: none;
  }
  .first-row text {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: black;
   
   
  }
  .first-row text a:hover{
    color: blue;
    text-decoration:underline black;
  }
  .second-rows{
      display: flex;
      align-items: center;
      height: 270px;
      width: 1000px;
      background: #F2F7FE;
      justify-content: space-evenly;
      border: gray 0.5px solid;
      border-top: none;
      overflow: hidden;
     
  }
  .second-row{
     
      display: inline-block;
      height: 260px;
      width: 200px;
     
  }
  .second-row a{
    text-decoration: none;
  }
  .second-row img{
    margin-top: 20px;
    width: 200px;
    height: 160px;
  }
  .second-row text{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: black;
   
    
  }
  .second-row text a:hover{
    color: blue;
    text-decoration:underline black;
  }
  .boardlists{
    display: flex;
    align-items: center;
    margin-top: 70px;
    height:140px;  
    width:50% ;
  }
  .boardlist{
    margin-top: 100px;
    display: inline-block;
    
  }
  .boardlist :hover{
    opacity: 0.7;
    cursor: pointer;
  }
  .boardlist text  {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: black;
    text-decoration: none;
    font-size: 15px;
    background: linear-gradient(to top, #9782F5 0%,#82E7F5 100%);
    margin-right: 1px;
    border: 0.5px gray solid;
    border-bottom: none;
    padding: 6px 20px 10px 20px ;
  }
  .board-rows{
    display: flex;
    align-items: center;
    height: 400px;
    width: 1000px;
  
    background:#F2F7FE;
    justify-content: space-evenly;
    border: gray 0.5px solid;
  }
  .board-row{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 425px;
    
  }
  .board-title{
    display:flex;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    width: 400px;
    height: 50px;
    background: #5282C9;
  }
  .board-title  i{
    margin-left: 5px;
    padding: 6px 15px;
  }
  .board-title text{
    font-size: 15px;
    margin-left: 8px; 
  }
  .board-text {
    display:flex;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    width: 400px;
    height: 40px;
    background: #7A9FD6;
  }
  .board-text label{
    display:flex;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    padding: 8px 12px;
    border-radius: 50%;
    font-size: 12px;
    background: #88A8D8; 
    color: #fff;
  }
  
  .board-text text a{
    font-size: 15px;
    margin-left: 10px; 
    color: #fff;
    text-decoration: none;
  }
  .board-text text a:hover{
    text-decoration:underline;
  }
 
  @media (max-width:1800px){
    
    .side-imgs{
      right: 10px;
    }
  }
  @media (max-width:1700px){
    nav{
      
      margin-right: 8rem;
      
    }
    nav ul li a{
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      color: black;
      text-decoration: none;
     
      border-right: 0.2px solid;
      padding: 17px 18px;
      
      
    }
   
  }
  @media (max-width:1600px){
   
    .side-imgs{
      visibility: hidden;
    }
  }
  @media (max-width:1300px){
    nav{
      
      margin-right: 7rem;
      
    }
    nav ul li a{
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      color: black;
      text-decoration: none;
      border-right: 0.2px solid;
      padding: 17px 6px;
    }
   
  }
  @media (max-width:1100px){
    nav{
      visibility: hidden;
      position: absolute;
      top: 0px;
      right: 0px;
      background: black;
      width: 150px;
      height: 100%;
      
      margin-right: 0rem;
      flex: 0;
    }
    nav ul li{
      display: flex;
      list-style: none;
      text-align: center;
     
    }
    nav ul li a{
     
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      color: white;
      text-decoration: none;
     
      border-right: none;
      
      padding: 10px 0px;
      
      
    }
    .create{
      visibility: hidden;
  
    }
    .data{
      visibility: hidden;
    }
  }
  
    </style>
    <title>Document</title>
    
</head>
<body>
    <div class="container">
      <div class="navbar">
        <img src="/images/logo.png" class="logo">
        <div class="logo-text">
          <img src="/images/logotext.png">
        </div>
        
        <nav>
          <ul>
            <li><a href="/homepage"><i class="fas fa-home"></i><p>Home</p></a></li>
            <li><a href="/login"><i class="fas fa-sign-in-alt"></i><p>Login</p></a></li>
            <li><a href="/register"><i class="fas fa-registered"></i><p>Register</p></a></li>
            <li><a href="/users/grouplist"><i class="fas fa-users-cog"></i><p>group</p></a></li>
          </ul>
        </nav>
      </div>
      <div class="topbar">
        <div class="datas">
          <div class="data">
            <a href="/users">Userdata</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="first-page">
         <div class="page-text">
          Breath of the Wild 2 release date, news and <br>trailers for the next Zelda game
         </div>
         <div class="page-button">
           <a href="https://www.techradar.com/news/breath-of-the-wild-2"><input type="button" value="check it out"></a>
         </div>
        </div>
        <div class="vertical-imgs">
         
          <div class="vertical-img">
            <a href="https://www.ign.com/videos/super-meat-boy-forever-developer-reacts-to-21-minute-speedrun" >
            <text id="vertical-img1">Super Meat Boy Forever Developer Reacts to 21 Minute Speedrun</text>
            <img src="/images/super-meat-boy.jpg">
            </a>
          </div>
         
          <div class="vertical-img">
            <a  href="https://www.ign.com/articles/super-smash-bros-ultimate-xenoblade-chronicles-2s-pyra-and-mythra-available-today">
            <text id="vertical-img2">Super Smash Bros. Special Edition reveals &ltFlame&gt and &ltLight&gt and is open to players today</text>
            <img src="/images/2.jpg">
            </a>
          </div>
          
          <div class="vertical-img">
            <a  href="https://www.ign.com/articles/video-game-release-dates-ps4-ps5-xbox-one-series-x-nintendo-switch">
            <text id="vertical-img3">Video Game Release Dates: Biggest Upcoming Games 2021</text>
            <img src="/images/ugly.jpg">
            </a>
          </div>
          <div class="vertical-img">
            <a  href="https://gnn.gamer.com.tw/detail.php?sn=211667">
            <text id="vertical-img4">&ltPokémon Grand Rally&gt opens in Canada for Android version beta testing activities</text>
            <img src="/images/pokemon.gif">
            </a>
          </div>
        </div>
        <div class="side-imgs">
       
          <div class="side-img">
            <div class="img-border">

            </div>
            <a href="https://store.steampowered.com/app/292030/The_Witcher_3_Wild_Hunt/"><img src="/images/witcher.jpg"></a>
          </div>
         
          <div class="side-img">
            <div class="img-border">

            </div>
            <a href="https://store.steampowered.com/app/367520/Hollow_Knight/"><img src="/images/hollow knight.jpg"></a>
          </div>
          <div class="side-img">
            <div class="img-border">

            </div>
            <a href="https://store.steampowered.com/app/570940/DARK_SOULS_REMASTERED/"><img src="/images/dark souls.jpg"></a>
          </div>
        </div>
        <div class="rowlists">
            <div id="PC" class="rowlist">
                <text>PC</text>
            </div>
            <div id="Mobile" class="rowlist">
                <text>Mobile</text>
            </div>
            <div  id="Comic" class="rowlist">
                <text>Comic</text>
            </div>
            <div id="Console" class="rowlist">
                <text>Console</text>
            </div>
        </div>
        <div class="rowcontent">
          <div class="first-rows"> 
            <div class="first-row">
                <a id="href0" href="https://gnn.gamer.com.tw/detail.php?sn=211327">
                <img id="img0" src="/webimages/PC/0.jpg">
                <text id="text0">The Korean version of &ltNew Maple Valley&gt has an official default item probability, but it is called a &ltrandom&gt controversy. NEXON publicly apologizes
                </text>
                </a>
            </div>
            <div class="first-row">
              <a id="href1" href="https://gnn.gamer.com.tw/detail.php?sn=211320">
              <img id="img1" src="/webimages/PC/1.jpg">
              <text id="text1">The new chapter &ltFate Divergence&gt of &ltThe Army Breaks the Enemy: Three Kingdoms&gt will be launched in March. Play as the ruthless Cao Cao and the powerful Yuan Shao
              </text>
              </a>
            </div>
            <div class="first-row">
              <a id="href2" href="https://gnn.gamer.com.tw/detail.php?sn=211359">
              <img  id="img2" src="/webimages/PC/2.jpg">
              <text id="text2">First experience of the rhythm game &ltDoctor Rhythm&gt, a life-saving theme for doctors, follow the heartbeat to save patients
              </text>
              </a>
            </div>
            <div class="first-row">
              <a id="href3" href="https://gnn.gamer.com.tw/detail.php?sn=211314">
              <img id="img3" src="/webimages/PC/3.png">
              <text id="text3">Epic Games Store opens today the horror role-playing game &ltSunless Sea&gt for a limited time and free to receive
              </a>
              </text>
            </div>
          </div>
          <div class="second-rows"> 
            <div class="second-row">
              <a id="href4" href="https://games.yahoo.com.tw/stardewvalleybgame-040453389.html">
              <img id="img4" src="/webimages/PC/4.png">
              <text id="text4">The board game version of &ltStardew Valley&gt is officially launched, and the four players cooperate to drive the bully company out of Town
              </a>
              </text>
            </div>
            <div class="second-row">
              <a id="href5" href="https://gnn.gamer.com.tw/detail.php?sn=211345">
              <img id="img5" src="/webimages/PC/5.jpg">
              <text id="text5">&ltAnimals&gt PC version releases free updates, new characters &ltKung Fu Sausage&gt and &ltBaa Sheep&gt debut
              </text>
              </a>
            </div>
            <div class="second-row">
              <a id="href6" href="https://gnn.gamer.com.tw/detail.php?sn=211266">
              <img id="img6" src="/webimages/PC/6.jpg">
              <text id="text6">The new popular horror game &ltFreddy's Five Nights Before: Security Vulnerability&gt releases its first live game promotional video
              </text>
              </a>
            </div>
            <div class="second-row">
              <a id="href7" href="https://gnn.gamer.com.tw/detail.php?sn=211362">
              <img id="img7" src="/webimages/PC/7.jpg">
              <text id="text7">&ltGrand Theft Auto 5&gt online mode driving armed Nagasaki lifeboat to patrol dangerous seas
              </text>
              </a>
            </div>
          </div>
          <div class="boardlists">
            <div class="boardlist" id="boardPC">
                <text>PC</text>
            </div>
            <div class="boardlist" id="boardMoblie">
                <text>Mobile</text>
            </div>
            <div class="boardlist" id="boardComic">
                <text>Comic</text>
            </div>
            <div class="boardlist" id="boardConsole">
                <text>Console</text>
            </div>
          </div>
          <div class="board-rows">
              <div class="board-row">
                <div class="board-title">
                  <i class="fab fa-buffer"></i>
                  <text>Msglist</text>
                </div>
                <div class="board-text">
                  <label>1</label>
                  <text><a id="board1"href="msgs/board/1">Mapstory</a></text>
                </div>
                <div class="board-text">
                  <label>2</label>
                  <text><a  id="board2" href="msgs/board/2">Steam</a></text>
                </div>
                <div class="board-text">
                  <label>3</label>
                  <text><a  id="board3" href="msgs/board/3">BLACK DESERT</a></text>
                </div>
                <div class="board-text">
                  <label>4</label>
                  <text><a  id="board4" href="msgs/board/4">RO online</a></text>
                </div>
                <div class="board-text">
                  <label>5</label>
                  <text><a  id="board5" href="msgs/board/5">Path of Exile</a></text>
                </div>
                
              </div>  
              <div class="board-row">
                <div class="board-title">
                  <i class="fab fa-buffer"></i>
                  <text>Msglist</text>
                </div>
                <div class="board-text">
                  <label>6</label>
                  <text><a  id="board6" href="msgs/board/6">Apex</a></text>
                </div>
                <div class="board-text">
                  <label>7</label>
                  <text><a  id="board7" href="msgs/board/7">WOW</a></text>
                </div>
                <div class="board-text">
                  <label>8</label>
                  <text><a  id="board8" href="msgs/board/8">Minecraft</a></text>
                </div>
                <div class="board-text">
                  <label>9</label>
                  <text><a  id="board9" href="msgs/board/9">Dead by Daylight</a></text>
                </div>
                <div class="board-text">
                  <label>10</label>
                  <text><a  id="board10" href="msgs/board/10">Soul Worker</a></text>
                </div>
                
              </div>  
          </div>
        </div>
      </div>
    </div>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>

      $("#boardPC").on({
        "mouseover": function(){
          $("#board1").text("Mapstory")
          $("#board1").attr("href","msgs/board/1")
          $("#board2").text("Steam")
          $("#board2").attr("href","msgs/board/2")
          $("#board3").text("BLACK DESERT")
          $("#board3").attr("href","msgs/board/3")
          $("#board4").text("RO online")
          $("#board4").attr("href","msgs/board/4")
          $("#board5").text("Path of Exile")
          $("#board5").attr("href","msgs/board/5")
          $("#board6").text("Apex")
          $("#board6").attr("href","msgs/board/6")
          $("#board7").text("WOW")
          $("#board7").attr("href","msgs/board/7")
          $("#board8").text("Minecraft")
          $("#board8").attr("href","msgs/board/8")
          $("#board9").text("Dead by Daylight")
          $("#board9").attr("href","msgs/board/9")
          $("#board10").text("Soul Worker")
          $("#board10").attr("href","msgs/board/10")
        }
      })
      $("#boardMoblie").on({
        "mouseover": function(){
          $("#board1").text("Tower of Saviors")
          $("#board1").attr("href","msgs/board/11")
          $("#board2").text("Genshin Impact")
          $("#board2").attr("href","msgs/board/12")
          $("#board3").text("Princess Connect")
          $("#board3").attr("href","msgs/board/13")
          $("#board4").text("Pretty Derby")
          $("#board4").attr("href","msgs/board/14")
          $("#board5").text("LastCloudia")
          $("#board5").attr("href","msgs/board/15")
          $("#board6").text("Guardian Tales")
          $("#board6").attr("href","msgs/board/16")
          $("#board7").text("Grand Fantasia Online")
          $("#board7").attr("href","msgs/board/17")
          $("#board8").text("Cookie Run: Kingdom")
          $("#board8").attr("href","msgs/board/18")
          $("#board9").text("Heaven 2 M")
          $("#board9").attr("href","msgs/board/19")
          $("#board10").text("Azur Lane")
          $("#board10").attr("href","msgs/board/20")
        }
      })
      $("#boardComic").on({
        "mouseover": function(){
          $("#board1").text("Attacking Giant")
          $("#board1").attr("href","msgs/board/21")
          $("#board2").text("Conjuration back")
          $("#board2").attr("href","msgs/board/22")
          $("#board3").text("Monday's plump")
          $("#board3").attr("href","msgs/board/23")
          $("#board4").text("Unemployed reincarnation")
          $("#board4").attr("href","msgs/board/24")
          $("#board5").text("Stockings Vision")
          $("#board5").attr("href","msgs/board/25")
          $("#board6").text("One Piece ")
          $("#board6").attr("href","msgs/board/26")
          $("#board7").text("Regarding my rebirth and becoming a slime")
          $("#board7").attr("href","msgs/board/27")
          $("#board8").text("My Hero Academia")
          $("#board8").attr("href","msgs/board/28")
          $("#board9").text("Kaguya Hime wants people to confess")
          $("#board9").attr("href","msgs/board/29")
          $("#board10").text("Ma Niang")
          $("#board10").attr("href","msgs/board/30")
        }
      })
      $("#boardConsole").on({
        "mouseover": function(){
          $("#board1").text("Monster hunter")
          $("#board1").attr("href","msgs/board/31")
          $("#board2").text("Nioh")
          $("#board2").attr("href","msgs/board/32")
          $("#board3").text("Pokemon")
          $("#board3").attr("href","msgs/board/33")
          $("#board4").text("Grand Theft Auto")
          $("#board4").attr("href","msgs/board/34")
          $("#board5").text("LastCloudia")
          $("#board5").attr("href","msgs/board/35")
          $("#board6").text("Animal Crossing")
          $("#board6").attr("href","msgs/board/36")
          $("#board7").text("game Master")
          $("#board7").attr("href","msgs/board/37")
          $("#board8").text("Harvest Moon")
          $("#board8").attr("href","msgs/board/38")
          $("#board9").text("Assassin's Creed")
          $("#board9").attr("href","msgs/board/39")
          $("#board10").text("The Legend of Zelda")
          $("#board10").attr("href","msgs/board/40")
        }
      })
      for(i=0;i<8;i++){
        
      }
      $("#PC").on({
      "mouseover": function(){ 
      $("#img0").attr("src","/webimages/PC/0.jpg");
      $("#text0").text("The Korean version of \<New Maple Valley\> has an official default item probability, but it is called a \"random\" controversy. NEXON publicly apologizes")
      $("#href0").attr("href","https://gnn.gamer.com.tw/detail.php?sn=211327")
      $("#img1").attr("src","/webimages/PC/1.jpg");
      $("#text1").text("The new chapter \<Fate Divergence\> of \<The Army Breaks the Enemy: Three Kingdoms\> will be launched in March. Play as the ruthless Cao Cao and the powerful Yuan Shao")
      $("#href1").attr("href","https://gnn.gamer.com.tw/detail.php?sn=211320")
      $("#img2").attr("src","/webimages/PC/2.jpg");
      $("#text2").text("First experience of the rhythm game \<Doctor Rhythm\>, a life-saving theme for doctors, follow the heartbeat to save patients")
      $("#href2").attr("href","https://gnn.gamer.com.tw/detail.php?sn=211359")
      $("#img3").attr("src","/webimages/PC/3.png");
      $("#text3").text("Epic Games Store opens today the horror role-playing game \<Sunless Sea\> for a limited time and free to receive")
      $("#href3").attr("href","https://gnn.gamer.com.tw/detail.php?sn=211314")
      $("#img4").attr("src","/webimages/PC/4.png");
      $("#text4").text("The board game version of \<Stardew Valley\> is officially launched, and the four players cooperate to drive the bully company out of town")
      $("#href4").attr("href","https://games.yahoo.com.tw/stardewvalleybgame-040453389.html")
      $("#img5").attr("src","/webimages/PC/5.jpg");
      $("#text5").text("\<Animals\> PC version releases free updates, new characters \<Kung Fu Sausage\> and \<Baa Sheep\> debut")
      $("#href5").attr("href","https://gnn.gamer.com.tw/detail.php?sn=211345")
      $("#img6").attr("src","/webimages/PC/6.jpg");
      $("#text6").text("The new popular horror game \<Freddy's Five Nights Before: Security Vulnerability\> releases its first live game promotional video")
      $("#href6").attr("href","https://gnn.gamer.com.tw/detail.php?sn=211266")
      $("#img7").attr("src","/webimages/PC/7.jpg");
      $("#text7").text("\<Grand Theft Auto 5\> online mode driving armed Nagasaki lifeboat to patrol dangerous seas")
      $("#href7").attr("href","https://gnn.gamer.com.tw/detail.php?sn=211362")
      }
      })
      $("#Mobile").on({
      "mouseover": function(){ 
      $("#img0").attr("src","/webimages/Mobile/0.jpg");
      $("#text0").text("You just attacked my village? Social casual game \<Coin Master\> global cumulative revenue reaches 2 billion U.S. dollars")
      $("#href0").attr("href","https://gnn.gamer.com.tw/detail.php?sn=211298")
      $("#img1").attr("src","/webimages/Mobile/1.jpg");
      $("#text1").text("\<Demon Summon\> new monsters \<Onmyoji\> and \<Onimusha\> officially join the battle")
      $("#href1").attr("href","https://gnn.gamer.com.tw/detail.php?sn=211326")
      $("#img2").attr("src","/webimages/Mobile/2.jpg");
      $("#text2").text("Orthodox strategy RPG \<Knights of the Blue R\> Traditional Chinese Version Confirmed, Open Beta on March 31")
      $("#href2").attr("href","https://gnn.gamer.com.tw/detail.php?sn=211297")
      $("#img3").attr("src","/webimages/Mobile/3.jpg");
      $("#text3").text("\<Running Gingerbread Man: Escape from the Oven\> Pudding Cupcake Circus special performance update")
      $("#href3").attr("href","https://gnn.gamer.com.tw/detail.php?sn=211275")
      $("#img4").attr("src","/webimages/Mobile/4.jpg");
      $("#text4").text("\<LINE Rangers Galaxy Commando\> 7th anniversary limited event starts")
      $("#href4").attr("href","https://gnn.gamer.com.tw/detail.php?sn=211344")
      $("#img5").attr("src","/webimages/Mobile/5.jpg");
      $("#text5").text("The Five-Equal Bride The Quintuplets Can’t Divide the Elimination Game into Five Equals")
      $("#href5").attr("href","https://gnn.gamer.com.tw/detail.php?sn=211176")
      $("#img6").attr("src","/webimages/Mobile/6.jpg");
      $("#text6").text("\"Blessings for a better world! \<Fantastic Days\> launched in Japan today on PC")
      $("#href6").attr("href","https://gnn.gamer.com.tw/detail.php?sn=211252")
      $("#img7").attr("src","/webimages/Mobile/7.jpg");
      $("#text7").text("\<Elf Movement-Is Such a Partner Alright?\> Pre-download will be available on March 1. Various gameplay and card fashion system will be released")
      $("#href7").attr("href","https://gnn.gamer.com.tw/detail.php?sn=211336")
      }
      })
      $("#Comic").on({
      "mouseover": function(){ 
      $("#img0").attr("src","/webimages/Comic/0.jpg");
      $("#text0").text("\<DEEMO THE MOVIE\> releases the latest promotional video and invites Hinatazaka 46 member Tansheng Akira to perform")
      $("#href0").attr("href","https://gnn.gamer.com.tw/detail.php?sn=212791")
      $("#img1").attr("src","/webimages/Comic/1.png");
      $("#text1").text("\<Attack on Titan The Final Season\> animation episode 76 \<Conviction\> is scheduled to be screened this winter")
      $("#href1").attr("href","https://gnn.gamer.com.tw/detail.php?sn=212749")
      $("#img2").attr("src","/webimages/Comic/2.jpeg");
      $("#text2").text("\<Is it wrong to seek an encounter in a dungeon~ Memory and Longing~\> \<Blood Devouring OVA Season 4\> co-launched")
      $("#href2").attr("href","https://gnn.gamer.com.tw/detail.php?sn=212750")
      $("#img3").attr("src","/webimages/Comic/3.jpg");
      $("#text3").text("The anime \<Spell Return\> will be released in the theater version and is expected to be released this winter")
      $("#href3").attr("href","https://gnn.gamer.com.tw/detail.php?sn=212735")
      $("#img4").attr("src","/webimages/Comic/4.jpg");
      $("#text4").text("The theater version of \<Sword Art Online Progressive Starless Night: Aria\> releases new visual graphics and special feature film, which will be released this fall")
      $("#href4").attr("href","https://home.gamer.com.tw/creationDetail.php?sn=5106399")
      $("#img5").attr("src","/webimages/Comic/5.jpg");
      $("#text5").text("The production of the animated sequel to the quintuplet love comedy \<The Five-Five-Part Bride\> is confirmed")
      $("#href5").attr("href","https://gnn.gamer.com.tw/detail.php?sn=212645")
      $("#img6").attr("src","/webimages/Comic/6.png");
      $("#text6").text("\<new. Evangelion Theatrical Edition:2\>The box office reached 3.3 billion yen in the first week, the official release of a new commercial")
      $("#href6").attr("href","https://gnn.gamer.com.tw/detail.php?sn=212028")
      $("#img7").attr("src","/webimages/Comic/7.jpg");
      $("#text7").text("\<Shadow Poetry\> \<Kaguya Ji Wants to Confess\> the collaboration event releases the animation of Fujiwara Chika and Shirogane Yukaizhu fighter")
      $("#href7").attr("href","https://gnn.gamer.com.tw/detail.php?sn=212748")
      }
      })
      $("#Console").on({
      "mouseover": function(){ 
      $("#img0").attr("src","/webimages/Console/0.jpg");
      $("#text0").text("Welcome the 25th anniversary! The Pokémon live show \<Pokémon Presents\> will debut this Friday and will release the latest information")
      $("#href0").attr("href","https://gnn.gamer.com.tw/detail.php?sn=211257")
      $("#img1").attr("src","/webimages/Console/1.jpg");
      $("#text1").text("The global shipment of the two works of \<Lisa's Atelier\> exceeded 1 million sets! Free DLC will be issued")
      $("#href1").attr("href","https://gnn.gamer.com.tw/detail.php?sn=212841")
      $("#img2").attr("src","/webimages/Console/2.png");
      $("#text2").text("\<Guacamelee!\> team's new work \<Nobody Saves the World\> public promotion video, gorgeous transformation to save the world")
      $("#href2").attr("href","https://gnn.gamer.com.tw/detail.php?sn=212802")
      $("#img3").attr("src","/webimages/Console/3.jpg");
      $("#text3").text("\<Rune Factory 5\> reveals the battle system and the information of town residents. Capture monsters through the \<Seed Circle!\>")
      $("#href3").attr("href","https://gnn.gamer.com.tw/detail.php?sn=212824")
      $("#img4").attr("src","/webimages/Console/4.jpg");
      $("#text4").text("Hades: Switch Retail Edition Now Available!")
      $("#href4").attr("href","https://www.supergiantgames.com/blog")
      $("#img5").attr("src","/webimages/Console/5.jpg");
      $("#text5").text("New costumes and short stories added. The first wave of expanded tickets for \<Random Story: Olive Town and the Land of Hope\> is released.")
      $("#href5").attr("href","https://gnn.gamer.com.tw/detail.php?sn=212578")
      $("#img6").attr("src","/webimages/Console/6.jpg");
      $("#text6").text("\<Monster Hunter Rise\> is on sale today! The first wave of DLC lifts the ban simultaneously <Boss Fire Dragon> is scheduled to debut at the end of April")
      $("#href6").attr("href","https://gnn.gamer.com.tw/detail.php?sn=212665")
      $("#img7").attr("src","/webimages/Console/7.jpg");
      $("#text7").text("\<Forked Traveler\> is now available on Epic Games Store, Xbox One, and Windows 10")
      $("#href7").attr("href","https://gnn.gamer.com.tw/detail.php?sn=212591")
      }
      })
      
    </script>
    
</body>
  
</html>